header.header
    nav.nav.nav--tours
        a.nav__el(href="/") All Tours 
        form.nav__search
            button.nav__search-btn
                svg
                    use(xlink:href="/img/icons.svg#icon-search")
            input.nav__search-input(type="text" placeholder="Search tours")
    .header__logo 
        img(src="/img/logo-green-small.png" alt="Natours logo")           
    nav.nav.nav--user
        if user
            a#user_log.nav__el.nav__el--logout Logout 
            a.nav__el(href="/me")
                img.nav__user-img(alt=`${user.name.split(' ')[0]}` src=`/img/users/${user.avatar}`)
                span= user.name.split(' ')[0]
        else       
            a.nav__el(href='/login') Log In    
            a.nav__el.nav__el--cta(href="#") Sign Up        
